// Functions
@import 'utilities/functions';

// Themes/Variables
@import 'variables';

// Mixins
@import 'utilities/mixins/center';
@import 'utilities/mixins/stripe';
@import 'utilities/mixins/text';
@import 'utilities/mixins/delete';
@import 'utilities/mixins/arrow';
@import 'utilities/mixins/loader';
@import 'utilities/mixins/overlay';
@import 'utilities/mixins/control';
@import 'utilities/mixins/placeholder';
@import 'utilities/mixins/border-radius';
@import 'utilities/mixins/box-shadow';
@import 'utilities/mixins/hover';
@import 'utilities/mixins/gradient';
@import 'utilities/mixins/responsiveness';
@import 'utilities/mixins/hover';
@import 'utilities/mixins/nav-divider';
@import 'utilities/mixins/transition';
@import 'utilities/mixins/clearfix';
@import 'utilities/mixins/content';
@import 'utilities/mixins/icons';
@import 'utilities/mixins/shadows';

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @if $framework-wrap {
    &.#{$hxui-reset} { font-size: 16px; }
  } @else {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'hxui';
  src:
    url('#{$icons-path}hxui.ttf?whdfiw') format('truetype'),
    url('#{$icons-path}hxui.woff?whdfiw') format('woff'),
    url('#{$icons-path}hxui.svg?whdfiw#hxui') format('svg');
  font-weight: normal;
  font-style: normal;
}

@function set-selector($is-wrap) {
  @if ($is-wrap) {
    @return '.#{$hxui-reset}';
  } @else {
    @return '*';
  }
}

#{set-selector($framework-wrap)} {
  @import 'imports';
}

@import 'layouts/inspector';
