// Display

$displays: "block" "flex" "inline" "inline-block" "inline-flex";

@each $display in $displays {
  .is-#{$display} {
    display: #{$display} !important;
  }

  .is-#{$display}-mobile {
    @include mobile {
      display: #{$display} !important;
    }
  }

  .is-#{$display}-tablet {
    @include tablet {
      display: #{$display} !important;
    }
  }

  .is-#{$display}-desktop {
    @include desktop {
      display: #{$display} !important;
    }
  }

  .is-#{$display}-widescreen {
    @include widescreen {
      display: #{$display} !important;
    }
  }

  .is-#{$display}-fullhd {
    @include fullhd {
      display: #{$display} !important;
    }
  }
}

// Float

.is-clearfix {
  @include clearfix;
}

.is-pulled-left {
  float: left;
}

.is-pulled-right {
  float: right;
}

// Overflow

.is-clipped {
  overflow: hidden !important;
}

// Overlay

.is-overlay {
  @include overlay;
}

.is-inline-block {
  display: inline-block !important;
}

.is-inline-flex {
  display: inline-flex !important;
}

.is-vertical-align-bottom {
  vertical-align: bottom !important;
}

.is-vertical-align-top {
  vertical-align: top !important;
}

.is-vertical-align-middle {
  vertical-align: middle !important;
}


// Visibility

  .is-hidden {
    display: none;
  }

  .is-hidden-mobile {
    @include mobile {
      display: none !important;
    }
  }

  .is-hidden-tablet {
    @media screen and (max-width: $hx-desktop - 1) {
      display: none !important;
    }
  }

  .is-hidden-desktop {
    @media screen and (max-width: $hx-widescreen - 1) {
      display: none !important;
    }
  }

  .is-hidden-widescreen {
    @media screen and (max-width: $hx-fullhd - 1) {
      display: none !important;
    }
  }

  // margins & paddings
  $unit: $unit-padding-margins;
  @for $i from 0 through 10 {
    .mt-#{$i} { margin-top: 1rem * ($i * $unit) !important; }
    .mr-#{$i} { margin-right: 1rem * ($i * $unit) !important; }
    .mb-#{$i} { margin-bottom: 1rem * ($i * $unit) !important; }
    .ml-#{$i} { margin-left: 1rem * ($i * $unit) !important; }
    .mx-#{$i} { margin-left: 1rem * ($i * $unit) !important; margin-right: 1rem * ($i * $unit) !important; }
    .my-#{$i} { margin-top: 1rem * ($i * $unit) !important; margin-bottom: 1rem * ($i * $unit) !important; }
    .ma-#{$i} { margin: 1rem * ($i * $unit) !important; }

    .pt-#{$i} { padding-top: 1rem * ($i * $unit) !important; }
    .pr-#{$i} { padding-right: 1rem * ($i * $unit) !important; }
    .pb-#{$i} { padding-bottom: 1rem * ($i * $unit) !important; }
    .pl-#{$i} { padding-left: 1rem * ($i * $unit) !important; }
    .px-#{$i} { padding-left: 1rem * ($i * $unit) !important; padding-right: 1rem * ($i * $unit) !important; }
    .py-#{$i} { padding-top: 1rem * ($i * $unit) !important; padding-bottom: 1rem * ($i * $unit) !important; }
    .pa-#{$i} { padding: 1rem * ($i * $unit) !important; }
  }

  @for $i from 0 through 24 {
    .is-elevate-#{$i} { box-shadow: 0 (($i * $unit) * 5px) ($i * 2px) ($i * .1px) rgba(0,0,0,.08); }
  }

  // Other

  .has-pointer {
    cursor: pointer;
  }

  .is-disabled {
    pointer-events: none;
  }

  .is-marginless {
    margin: 0 !important;
  }

  .is-paddingless {
    padding: 0 !important;
  }





