// =========
// Container
// =========

.#{$namespace}-container {
  @include desktop {
    margin: 0 auto;
    width: $hx-desktop - 40px;

    // Modifiers
    &.is-fluid {
      margin: 0 20px;
      max-width: none;
      width: auto;
    }
  }

  @include widescreen {
    width: $hx-widescreen - 40px;
  }

  @include fullhd {
    width: $hx-fullhd - 40px;
  }
  position: relative;
}

.is-fullscreen {
  position: fixed !important;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  > div {
    z-index: 1;
  }
}
