// =========
// Section
// =========

.#{$namespace}-section {
  @extend .hx-flex-1;
  padding: ($hx-spacer + .5);

  .#{$namespace}-section {
    padding-left: 0;
    padding-right: 0;
  }

  &.is-comfortable {
    max-width: 1280px;
    margin: 0 auto;
  }
  @include desktop {
    &.is-medium {
      padding: 5rem 1.5rem;
    }

    &.is-large {
      padding: 14rem 1.5rem;
    }
  }

}
