@mixin delete {
  @include no-copy;

  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba($hx-color-black, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  font-size: $hx-font-size-base;
  height: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;

  &:before,
  &:after {
    background-color: $hx-color-white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
  }

  &:before {
    height: 2px;
    width: 50%;
  }

  &:after {
    height: 50%;
    width: 2px;
  }

  &:hover,
  &:focus {
    background-color: rgba($hx-color-black, 0.3);
  }

  &:active {
    background-color: rgba($hx-color-black, 0.4);
  }

  // Sizes
  &.is-small {
    height: 16px;
    width: 16px;
  }

  &.is-medium {
    height: 24px;
    width: 24px;
  }

  &.is-large {
    height: 32px;
    width: 32px;
  }
}
