@mixin radial-gradient($positon, $from, $to) {
  background: -moz-radial-gradient($positon, circle farthest-corner, $from 0%, $to 100%);
  background: -webkit-gradient(radial, $positon $positon, 0px, $positon $positon, 100%, color-stop(0%, $from), color-stop(100%, $to));
  background: -o-radial-gradient($positon, circle farthest-corner, $from 0%, $to 100%);
  background: -ms-radial-gradient($positon, circle farthest-corner, $from 0%, $to 100%);
  background: radial-gradient($positon, circle farthest-corner, $from 0%, $to 100%);
  background: -webkit-radial-gradient($positon, circle farthest-corner, $from 0%, $to 100%);
  background-color: $from;
}


@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == 'vertical' {
    background: linear-gradient(to bottom, $start-color, $end-color);
    background: -webkit-linear-gradient(top, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: linear-gradient(to right, $start-color, $end-color);
    background: -webkit-linear-gradient(left, $start-color, $end-color);
  } @else {
    background: radial-gradient(ellipse at center, $start-color, $end-color);
    background: -webkit-radial-gradient(center, ellipse farthest-corner, $start-color, $end-color);
  }
}
