@mixin hover {
  &:hover { @content }
}

@mixin hover-focus {
  @if $hx-enable-hover-media-query {
    &:focus { @content }
    @include hover { @content }
  } @else {
    &:focus,
    &:hover {
      @content
    }
  }
}

@mixin plain-hover-focus {
  @if $hx-enable-hover-media-query {
    &,
    &:focus {
      @content
    }
    @include hover { @content }
  } @else {
    &,
    &:focus,
    &:hover {
      @content
    }
  }
}

@mixin hover-focus-active {
  @if $hx-enable-hover-media-query {
    &:focus,
    &:active {
      @content
    }
    @include hover { @content }
  } @else {
    &:focus,
    &:active,
    &:hover {
      @content
    }
  }
}
