@mixin stripe {
  content:'';
  height:100%;
  width:.35rem;
  position:absolute;
  top:0;
  left:0;
}

@mixin table-stripe($color) {
  > td {
    position:relative;
    &:first-child {
      &:before {
        @include stripe;
        background-color: $color;
      }
    }
  }
}



