// Accordions
//
//
.#{$namespace}-accordion {
  list-style: none;
  background-color: $hx-color-white;
  border: 1px solid rgba(0, 0, 0, .08);
  padding: 0;

  &-container {
    margin-top: 0;

    &:not(:last-child) {
      box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .08);
    }

    &:not(.is-active) {
      .#{$namespace}-accordion-header:hover {
        background-color: rgba(0,0,0,.02);
        text-decoration: none;
        color: $hx-color-primary;
      }
    }
  }

  &-header {
    color: $hx-text;
    padding: $hx-spacer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;

    &:hover {
      color: $hx-text;
      text-decoration: none;
    }

    .header-icon {
      transition: .3s;
      display: flex;
    }
  }


  &-body {
    overflow-y: hidden;
    background-color: $hx-flex-accordion-bg-color;
    transition: .5s;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .08);

    &-wrapper {
      padding: 1rem;
    }

  }

}
