// =========
// Badges
// =========
//
.#{$namespace}-badge, .#{$namespace}-badge-content {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.#{$namespace}-badge {
  background-color: rgba(0,0,0,.05);
  border-radius: 290486px;
  color: $hx-color-gray-dark;
  font-size: $hx-font-size-xs;
  justify-content: center;
  line-height: 1.5;
  margin: 4px;
  white-space: nowrap;

  &-content {
    padding-left: 0.875em;
    padding-right: 0.875em;
    justify-content: space-between;
    height: 2em;
  }

  .#{$namespace}-avatar {
    min-width: 24px;
    min-height: 24px;
    height: 24px;
    width: 24px;
    margin-left: -12px;
    margin-right: 0.4rem;
    font-size: .75rem;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;

    .#{$namespace}-icon {
      font-size: 1rem;
    }
  }

  .hx-delete {
    margin-left: 0.5em;
    margin-right: -0.5em;
    padding-left: 0;
    padding-right: 0;
  }

  &.is-white, &.is-outlined {
    .hx-info {
    	background-color: rgba(255,255,255,.8);
    	border: 1px solid rgba(0,0,0,.1);
    }
  }

  &.is-primary {
    background-color: $hx-color-success;
    color: $hx-color-white;
    font-weight: 400;
    &.is-outlined {
      border: 1px solid $hx-color-success;
      background-color: transparent;
      color: $hx-color-success;
    }
  }

  &.is-info {
    background-color: $hx-color-info;
    color: $hx-color-white;
    font-wight: 400;
    &.is-outlined {
      border: 1px solid $hx-color-info;
      background-color: transparent;
      color: $hx-color-info;
    }
  }

  &.is-white {
    background-color: $hx-color-white;
    &.is-outlined {
      border: 1px solid $hx-color-white;
      background-color: transparent;
      color: $hx-color-white;
    }
  }

  &.is-outlined {
    border: 1px solid rgba(10, 10, 10, 0.15);
    background-color: $hx-color-white;
  }

  &.is-dark {
    background-color: $hx-color-gray;
    color: $hx-color-white;
    font-weight: 400;
    &.is-outlined {
      border: 1px solid $hx-color-gray;
      background-color: transparent;
      color: $hx-color-gray;
    }
  }

  &.is-black {
    background-color: $hx-color-black;
    color: $hx-color-white;
    font-weight: 400;
    &.is-outlined {
      border: 1px solid $hx-color-black;
      background-color: transparent;
      color: $hx-color-black;
    }
  }

  &.is-warning {
    background-color: $hx-color-warning;
    color: $hx-color-white;
    font-weight: 400;
    &.is-outlined {
      border: 1px solid $hx-color-warning;
      background-color: transparent;
      color: $hx-color-warning;
    }
  }

  &.is-caution {
    background-color: $hx-color-caution;
    color: $hx-color-black;
    font-weight: 400;
    &.is-outlined {
      border: 1px solid $hx-color-caution;
      background-color: transparent;
      color: $hx-color-caution;
    }
  }

  &.is-danger {
    background-color: $hx-color-danger;
    color: $hx-color-white;
    font-weight: 400;
    &.is-outlined {
      border: 1px solid $hx-color-danger;
      background-color: transparent;
      color: $hx-color-danger;
    }
  }

  &.is-small {
    font-size: 0.6rem;
  }

  &.is-medium {
    font-size: 1rem;

    .#{$namespace}-avatar {
      height: 28px;
      width: 28px;
      font-size: .9rem;

      .#{$namespace}-icon {
        font-size: 1.1rem;
      }
    }
  }

  &.is-large {
    font-size: $hx-font-size-lg;

    .#{$namespace}-avatar {
      height: 34px;
      width: 34px;
      margin-left: -15px;
      margin-right: 0.5rem;
      font-size: 1.1rem;

      .#{$namespace}-icon {
        font-size: 1.25rem;
      }
    }
  }

}
