// =========
// Card
// =========

.#{$namespace}-card-header {
  align-items: stretch;
  box-shadow: 0 1px 0 $hx-border-color;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.#{$namespace}-card-header-title {
  align-items: center;
  color: $hx-text-strong;
  display: flex;
  flex-grow: 1;
  font-weight: $hx-font-weight-normal;
  padding: 0.75rem 1.25rem;
}

.#{$namespace}-card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
}

.#{$namespace}-card-image {
  display: block;
  position: relative;
}

.#{$namespace}-card-content {
  padding: 1.25rem;

  &.has-padding-small {
    padding: .5rem;
  }

  &.has-padding-medium {
    padding: 1rem;
  }

  &.has-padding-large {
    padding: 2.5rem;
  }
}

.#{$namespace}-card-icon {
  & > * {
    padding: .5rem 0 .5rem .8rem;
  }
}

.#{$namespace}-card-footer {
  border-top: 1px solid $hx-border-color;
  align-items: stretch;
  display: flex;
}

.#{$namespace}-card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;

  &:not(:last-child) {
    border-right: 1px solid $hx-border-color;
  }
}

.#{$namespace}-card {
  background-color: $hx-color-white;
  // box-shadow: 0 2px 3px rgba($hx-color-black, 0.1), 0 0 0 1px rgba($hx-color-black, 0.1);
  border: 1px solid rgba($hx-color-black, .08);
  color: $hx-text;
  max-width: 100%;
  position: relative;
  transition: all .2s ease;
  overflow: auto;

  &.is-flat {
    box-shadow: none;
  }

  .media:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  // States
  &.is-hovered,
  &:hover {
    // transform: translateY(-4px);
    box-shadow: 0 0px 8px 0 rgba($hx-color-black,.03), 0 4px 8px 0 rgba($hx-color-black,.03);
  }

  &:focus,
  &.is-focused {
    outline: none;
    box-shadow: 0 2px 12px 0 rgba($hx-color-black,.06);
  }

  &.is-active {
    transform: scale(1.05);
    box-shadow: 0px 8px 36px rgba($hx-color-black, .06);
    outline: none;
  }

  &.is-border-highlighted {
    border-left: 5px solid $hx-color-primary;

    &.is-small {
      border-left-width: 2px;
    }

    &.is-medium {
      border-left-width: 12px;
    }

    &.is-large {
      border-left-width: 25px;
    }

    &.is-info {
      border-left: 5px solid $hx-color-info;
    }

    &.is-success {
      border-left: 5px solid $hx-color-success;
    }

    &.is-caution {
      border-left: 5px solid $hx-color-caution;
    }

    &.is-warning {
      border-left: 5px solid $hx-color-warning;
    }

    &.is-danger {
      border-left: 5px solid $hx-color-danger;
    }

  }



}
