// =========
// Form
// =========

// Container within hx-columns
.#{$namespace}-columns {
  .#{$namespace}-input-control {
    margin-bottom: 0;
  }
}

// Container
.#{$namespace}-input-control {
  position: relative;
  margin-bottom: 2rem;

  &.is-medium {
    $medium: 1.5;

    .#{$namespace}-input,
    .#{$namespace}-textarea {
      padding: (.8rem * $medium) 0 (.6rem * $medium);
      font-size: ($hx-font-form-elements-size * $medium);

      & + .#{$namespace}-label {
        top: (.7rem * $medium);
        font-size: ($hx-font-form-elements-size * $medium);
        sup {
          font-size: (.7rem * $medium);
        }

        & + .#{$namespace}-help {
          font-size: (.75rem * $medium);
          margin-top: (.25rem * $medium);

          &:before,
          &:after {
            top: (-.35rem * $medium);
            // height: (3px * $large);
          }
        }
      }

      &:focus ~ .#{$namespace}-label,
      &:valid ~ .#{$namespace}-label,
      &:-webkit-autofill  ~ .#{$namespace}-label{
        top: (-.6rem);
        font-size: ($hx-font-form-elements-size);
        sup {
          font-size: (.4rem * $medium);
        }
      }

      &[disabled],
      &.is-disabled {

        &~ .#{$namespace}-label {
          // top: -.5rem;
          // font-size: .75rem;

          sup {
            // font-size: .4rem;
          }
        }
      }
    }
  }

  &.is-large {
    $large: 2;

    .#{$namespace}-input,
    .#{$namespace}-textarea {
      padding: (.8rem * $large) 0 (.6rem * $large);
      font-size: ($hx-font-form-elements-size * $large);

      & + .#{$namespace}-label {
        top: (.7rem * $large);
        font-size: ($hx-font-form-elements-size * $large);
        sup {
          font-size: (.7rem * $large);
        }

        & + .#{$namespace}-help {
          font-size: (.75rem * $large);
          margin-top: (.25rem * $large);

          &:before,
          &:after {
            top: (-.35rem * $large);
            // height: (3px * $large);
          }
        }
      }

      &:focus ~ .#{$namespace}-label,
      &:valid ~ .#{$namespace}-label,
      &:-webkit-autofill  ~ .#{$namespace}-label {
        top: (-.5rem);
        font-size: (2rem / $large);
        sup {
          font-size: (.4rem * $large);
        }
      }

      &[disabled],
      &.is-disabled {

        &~ .#{$namespace}-label {
          // top: -.5rem;
          // font-size: .75rem;

          sup {
            // font-size: .4rem;
          }
        }
      }
    }
  }

  &.is-success {
    input,
    textarea {
      & + .#{$namespace}-label {
        color: $hx-color-success;

        & + .#{$namespace}-help {
          position: relative;
          opacity: 1;
          color: $hx-color-success;

          &:before,
          &:after {
            width: 50%;
            background-color: $hx-color-success;
          }
        }
      }
    }
  }

  &.is-info {
    input,
    textarea {
      & + .#{$namespace}-label {
        color: $hx-color-info;

        & + .#{$namespace}-help {
          position: relative;
          opacity: 1;
          color: $hx-color-info;

          &:before,
          &:after {
            width: 50%;
            background-color: $hx-color-info;
          }
        }
      }
    }
  }

  &.is-warning {
    input,
    textarea {
      & + .#{$namespace}-label {
        color: $hx-color-warning;

        & + .#{$namespace}-help {
          position: relative;
          opacity: 1;
          color: $hx-color-warning;

          &:before,
          &:after {
            width: 50%;
            background-color: $hx-color-warning;
          }
        }
      }
    }
  }

  &.is-danger {
    input,
    textarea {
      & + .#{$namespace}-label:not(.no-context) {
        color: $hx-color-danger;

        & + .#{$namespace}-help {
          position: relative;
          opacity: 1;
          color: $hx-color-danger;

          .#{$namespace}-label {
            color: $hx-color-gray;
          }

          &:before,
          &:after {
            width: 50%;
            background-color: $hx-color-danger;
          }
        }
      }
    }
  }

  &.is-help-visible {
    input,
    textarea {
      & + .#{$namespace}-label {

        & + .#{$namespace}-help {
          position: relative;
          opacity: 1;
        }
      }
    }
  }

  &.has-text-centered {
    .hx-label {
      left: 50%;
      transform: translateX(-50%);
    }
    .hx-input {
      text-align: center;
    }
  }

  .#{$namespace}-input {

    &.ng-invalid.ng-dirty {
      & + .#{$namespace}-label {
        color: $hx-color-danger;

        & + .#{$namespace}-help {
          position: relative;
          opacity: 1;
          color: $hx-color-danger;

          &:before,
          &:after {
            width: 50%;
            background-color: $hx-color-danger;
          }
        }
      }
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color:  $hx-color-gray-lighter;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $hx-color-gray-lighter;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $hx-color-gray-lighter;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $hx-color-gray-lighter;
    }

  }

  .#{$namespace}-textarea {

    & + .#{$namespace}-label {
      & + .#{$namespace}-help {
        margin-bottom: 3rem;
      }
    }

    &.ng-invalid.ng-dirty {
      & + .#{$namespace}-label {
        color: $hx-color-danger;

        & + .#{$namespace}-help {
          position: relative;
          opacity: 1;
          color: $hx-color-danger;

          &:before,
          &:after {
            width: 50%;
            background-color: $hx-color-danger;
          }
        }
      }
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color:  $hx-color-gray-lighter;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $hx-color-gray-lighter;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $hx-color-gray-lighter;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $hx-color-gray-lighter;
    }

  }

}

// Group Container
.#{$namespace}-input-group {
  position:relative;

  > .#{$namespace}-icon,
  > .#{$namespace}-input-actions{
    position:absolute;
    top:.5rem;
    z-index:1;

    > .#{$namespace}-loader {
      position: absolute;
      right: .325rem;
      top: .326rem;
      z-index:1
    }
  }


  // select icon|button after hx-input-control
  .#{$namespace}-input-control + .#{$namespace}-icon,
  .#{$namespace}-input-control + .#{$namespace}-input-actions{
    right:0;
  }

  /// select icon|button before hx-input-control
  .#{$namespace}-icon ~ .#{$namespace}-input-control,
  .#{$namespace}-input-actions ~ .#{$namespace}-input-control{
    left:0;
  }

  // select hx-input-control after icon|button
  .#{$namespace}-icon + .#{$namespace}-input-control,
  .#{$namespace}-actions + .#{$namespace}-input-control{
    .#{$namespace}-input{
        padding-left:1.8rem;
    }
    .#{$namespace}-label{
      margin-left:1.8rem;
    }
  }

  // select hx-input-control after icon|button
  .#{$namespace}-icon ~ .#{$namespace}-input-control,
  .#{$namespace}-input-actions ~ .#{$namespace}-input-control {
    .#{$namespace}-input{
      padding-right:1.8rem;
    }
    .#{$namespace}-label{
      margin-right:1.8rem;
    }
  }
}

.#{$namespace}-input,
.#{$namespace}-textarea {
  display: block;
  width: 100%;
  padding: .8rem 0 .6rem;
  font-family: $hx-font-family-sans-serif;
  font-size: $hx-font-form-elements-size;
  font-weight: $hx-font-form-elements-weight;
  border: 1px solid $hx-input-border;
  border-radius: 0;
  border-width: 0 0 1px 0;
  background-color: $hx-input-background;
  position: relative;

  & + .#{$namespace}-label {
    position: absolute;
    top: .7rem;
    margin: 0;
    font-weight: normal;
    color: $hx-color-gray-lighter;
    left: 0;
    transition: .3s;
    z-index: 0;
    pointer-events: none;

    sup {
      top: -.2rem;
      color: $hx-color-danger;
      font-size: .7rem;
      transition: .3s;
    }

    & + .#{$namespace}-help {
      font-size: .75rem;
      margin-top: .25rem;
      color: $hx-color-gray-light;
      transition: .3s;
      opacity: 0;
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: -.4rem;
        width: 0%;
        height: 3px;
        background-color: $hx-input-focus-border;
        transition: .3s;
        z-index: 1;
      }
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }

  }

  &:focus {
    outline: none;
  }

  &:focus ~ .#{$namespace}-label,
  &:valid ~ .#{$namespace}-label,
  &:-webkit-autofill  ~ .#{$namespace}-label {
    top: $hx-font-form-label-focus-top;
    font-size: .75rem;
    sup {
      top: -.3rem;
      font-size: .4rem;
    }
  }

  &.has-label-floating ~ .#{$namespace}-label {
    top: $hx-font-form-label-focus-top;
    font-size: .75rem !important;
    sup {
      top: -.3rem !important;
      font-size: .4rem !important;
    }
  }

  &.has-label-placeholder ~ .#{$namespace}-label {
    top: .7rem !important;
    font-size: $hx-font-form-elements-size;
    sup {
        top: -.2rem initial !important;
        font-size: .7rem initial !important;
    }
  }



  &:focus ~ .#{$namespace}-label,
  &:-webkit-autofill  ~ .#{$namespace}-label {
    color: $hx-color-primary;
  }

  &:focus ~ .#{$namespace}-help,
  // &:valid ~ .#{$namespace}-help,
  &:-webkit-autofill  ~ .#{$namespace}-label {
    opacity: 1;
    &:before,
    &:after {
      width: 50%;
    }
  }

}


.#{$namespace}-input {

  &[disabled],
  &.is-disabled {
    border-color: $hx-input-disabled-border;
    color: $hx-input-disabled;
    cursor: $hx-cursor-disabled;

    &~ .#{$namespace}-label {
      top: $hx-font-form-label-focus-top;
      font-size: .75rem;
      color: $hx-input-disabled;
      cursor: $hx-cursor-disabled;

      sup {
        font-size: .4rem;
      }
    }
  }
}

.#{$namespace}-textarea {
  // display: initial;
  padding: 0 0 .6rem 0;
  resize: vertical;
  min-height: 3.5rem;
  line-height: 1.3;
  &:focus ~ .#{$namespace}-label,
  &:valid ~ .#{$namespace}-label,
  &:-webkit-autofill  ~ .#{$namespace}-label{
    top: -1.15rem;
  }

  ~ .#{$namespace}-label {
    top: -1rem;
    font-size: .75rem;
    sup {
      font-size: .4rem;
    }
  }

  &[disabled],
  &.is-disabled {
    border-color: $hx-input-disabled-border;
    color: $hx-input-disabled;
    cursor: $hx-cursor-disabled;

    &~ .#{$namespace}-label {
      color: $hx-input-disabled;
      cursor: $hx-cursor-disabled;
    }
  }

}

.#{$namespace}-select {
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance: none;
  width: 100%;
  padding: .8rem 0 .6rem;
  background-color: transparent;
  font-size: $hx-font-form-elements-size;
  font-weight: $hx-font-form-elements-weight;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0;
  border-width: 0 0 1px 0;
  position: relative;
  outline: none;

  &.ng-invalid.ng-dirty {
    border-color: $hx-color-danger;
    color: $hx-color-danger;

    & + .#{$namespace}-label {
      color: $hx-color-danger;
    }
  }

  &[disabled],
  &.is-disabled {
    border-color: $hx-input-disabled-border;
    color: $hx-input-disabled;
    cursor: $hx-cursor-disabled;

    &~ .#{$namespace}-label {
      top: $hx-font-form-label-focus-top;
      left: 0;
      font-size: .75rem;
      color: $hx-input-disabled;
      cursor: $hx-cursor-disabled;

      sup {
        font-size: .4rem;
      }
    }
  }

  & + .#{$namespace}-label {
    position: absolute;
    top: $hx-font-form-label-focus-top;
    left: 0;
    font-size: .75rem;
    z-index: 0;
    sup {
      color: $hx-color-red;
      font-size: .6rem;
    }
    & + .#{$namespace}-help {
      font-size: .75rem;
      margin-top: .25rem;
      color: gray;
      transition: .3s;
    }
  }
  .option {
    &:before, &:after {
      content: '1';
      right: 0;
      top: 0;
    }
  }

  &.has-badges {
    transition: .3s;
  	&.is-active {
  		border-bottom: 3px solid $hx-color-primary;
  	}
		input {
			font-size: 1rem;
			outline: none;
			background-color: transparent;
			display: block;
			border: none;
			line-height: 32px;
			height: 32px;
			transition: .3s;
		}
		> .icon {
			color: $hx-color-primary;
			&.animated {
				animation-duration: 2s;
			}
		}
		&.is-not-focus {
			input {
				height: 0;
				padding: 0;
				overflow: auto;
			}
			border-bottom-color: transparent;
		}
	}

}

.#{$namespace}-select-control {
  &:after {
    position: absolute;
    top: 1.35em;
    right: 0.5em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: .375em solid $hx-color-gray-lighter;
    pointer-events: none;
  }
}

// Radio button container
.#{$namespace}-radio-control {

  &.is-inline {
    display: inline-block;
    margin-right: 0.7rem;

    .#{$namespace}-radio:not(:checked) + .#{$namespace}-label,
    .#{$namespace}-radio:checked + .#{$namespace}-label {
          padding-left: 1.7rem;
    }
  }

  &.is-small {
    $small: 0.8;

    .#{$namespace}-radio:not(:checked)+.#{$namespace}-label,
    .#{$namespace}-radio:checked+.#{$namespace}-label {
      padding-left: (32px * $small);
    }

    .#{$namespace}-radio+.#{$namespace}-label:before,
    .#{$namespace}-radio+.#{$namespace}-label:after {
      left: 2px;
      top: 2px;
      margin: (4px * $small);
      width: (18px * $small);
      height: (18px * $small);
    }
  }
}

// Radio buttons
.#{$namespace}-radio:not(:checked),
.#{$namespace}-radio:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.#{$namespace}-radio:not(:checked) + .#{$namespace}-label,
.#{$namespace}-radio:checked + .#{$namespace}-label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: $hx-font-form-elements-size;
  font-weight: $hx-font-form-elements-weight;
  transition: .28s ease;

  -khtml-user-select: none; /* webkit (konqueror) browsers */
  user-select: none;
}

.#{$namespace}-radio + .#{$namespace}-label:before,
.#{$namespace}-radio + .#{$namespace}-label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px 4px 4px 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  transition: .28s ease;
}

/* Unchecked styles */
.#{$namespace}-radio:not(:checked) + .#{$namespace}-label:before,
.#{$namespace}-radio:not(:checked) + .#{$namespace}-label:after,
.#{$namespace}-radio:checked + .#{$namespace}-label:before,
.#{$namespace}-radio:checked + .#{$namespace}-label:after {
  border-radius: 50%;
}

.#{$namespace}-radio:not(:checked) + .#{$namespace}-label:before,
.#{$namespace}-radio:not(:checked) + .#{$namespace}-label:after {
  border: 2px solid $hx-color-gray-lighter;
}

.#{$namespace}-radio:not(:checked) + .#{$namespace}-label:after {
  transform: scale(0);
}

/* Checked styles */
.#{$namespace}-radio:checked + .#{$namespace}-label:before {
  border: 2px solid $hx-color-primary;
}

.#{$namespace}-radio:checked + .#{$namespace}-label:after {
  border-color: $hx-color-primary;
}

.#{$namespace}-radio:checked + .#{$namespace}-label:after {
  background-color: $hx-color-primary;
}

.#{$namespace}-radio:checked + .#{$namespace}-label:after {
  transform: scale(.5);
}

// /* Radio With gap */
// [type="radio"].with-gap:checked + .#{$namespace}-label:after {
//   transform: scale(.5);
// }
//
// /* Focused styles */
// [type="radio"].tabbed:focus + .#{$namespace}-label:before {
//   box-shadow: 0 0 0 10px rgba(0,0,0,.1);
// }
//
// /* Disabled Radio With gap */
// .#{$namespace}-radio.with-gap:disabled:checked + .#{$namespace}-label:before {
//   border: 2px solid $hx-input-disabled;
// }
//
// .#{$namespace}-radio.with-gap:disabled:checked + .#{$namespace}-label:after {
//   border: none;
//   background-color: $hx-input-disabled;
// }

/* Disabled style */
.#{$namespace}-radio:disabled:not(:checked) + .#{$namespace}-label:before,
.#{$namespace}-radio:disabled:checked + .#{$namespace}-label:before {
  background-color: transparent;
  border-color: $hx-input-disabled;
  cursor: $hx-cursor-disabled;
}

.#{$namespace}-radio:disabled + .#{$namespace}-label {
  color: $hx-input-disabled;
  cursor: $hx-cursor-disabled;
}

.#{$namespace}-radio:disabled:not(:checked) + .#{$namespace}-label:before {
  border-color: $hx-input-disabled;
}

.#{$namespace}-radio:disabled:checked + .#{$namespace}-label:after {
  background-color: $hx-input-disabled;
  border-color: $hx-input-disabled;
}

// Checkbox container
.#{$namespace}-checkbox-control {
  margin: .4rem 0;
}

/* Remove default checkbox */
.#{$namespace}-checkbox:not(:checked),
.#{$namespace}-checkbox:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

// Checkbox Styles
.#{$namespace}-checkbox {
  // Text Label Style
  + .#{$namespace}-label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    font-size: $hx-font-form-elements-size;

    font-weight:normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */

    &.is-text-multiline {
      @include multiline;
    }
  }

  /* checkbox aspect */
  + .#{$namespace}-label:before,
  + .#{$namespace}-label:after  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 1;
    border: 2px solid $hx-color-gray-lighter;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
  }

  &:disabled + .#{$namespace}-label {
    cursor: $hx-cursor-disabled;
    color: $hx-color-gray-lighter !important;
  }

  &:not(:checked):disabled + .#{$namespace}-label:before {
    border: none;
    background-color: $hx-input-disabled;
    cursor: $hx-cursor-disabled;
  }

  &:indeterminate,
  &.is-indeterminate {
    + .#{$namespace}-label:before {
      top: 2px;
      left: 2.5px;
      width: 13px;
      height: 8px;
      border-bottom: 2px solid white;
      border-width: 0 0 2px 0;
    }

    + .#{$namespace}-label:after {
      top: 0;
      width: 18px;
      height: 18px;
      border: 2px solid $hx-color-primary;
      background-color: $hx-color-primary;
      z-index: 0;
    }
  }
}

.#{$namespace}-checkbox:checked {
   + .#{$namespace}-label:before {
     top: 2px;
     left: 1px;
     width: 7px;
     height: 12px;
     border-top: 2px solid transparent;
     border-left: 2px solid transparent;
     border-right: 2px solid white;
     border-bottom: 2px solid white;
     -webkit-transform: rotateZ(37deg);
     transform: rotateZ(37deg);

     -webkit-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
   }

   + .#{$namespace}-label:after {
     top: 0;
     width: 18px;
     height: 18px;
     border: 2px solid $hx-color-primary;
     background-color: $hx-color-primary;
     z-index: 0;
   }

   &:disabled + .#{$namespace}-label:before {
     border-right: 2px solid $hx-input-disabled;
     border-bottom: 2px solid $hx-input-disabled;

   }
 }

/// is-small checkbox
.#{$namespace}-input-control.is-small,
.hx-table.is-narrow {

  // Checkbox container
  .#{$namespace}-checkbox-control {
    margin: .4rem 0;
  }


  // Checkbox Styles
  .#{$namespace}-checkbox {
    // Text Label Style
    + .#{$namespace}-label {
      padding-left: 25px;
      height: 20px;
      line-height: 20px;
      font-size: .9rem;

      &.is-text-multiline {
        @include multiline;
      }
    }

    /* checkbox aspect */
    + .#{$namespace}-label:before,
    + .#{$namespace}-label:after  {
      width: 16px;
      height: 16px;
      margin-top: 2px;
    }

    /* small indeterminate checkbox */
    &:indeterminate,
    &.is-indeterminate:not(:checked) {
      + .#{$namespace}-label:before {
        top: 1px;
        left: 2px;
        width: 12px !important;
        height: 8px;
      }
    }
  }

  th {
    .#{$namespace}-checkbox-control {
      padding-bottom: .1rem;
    }
    .#{$namespace}-checkbox {
      + .#{$namespace}-label {
        font-size: 0.75rem;
        font-weight: 600;
      }
    }
  }

  .hx-table-group {
    th {
      .#{$namespace}-checkbox-control {
        padding: 0;
        margin-top: -.01rem;
      }
    }
  }


  .#{$namespace}-checkbox:checked {
    + .#{$namespace}-label:before {
      top: 2px;
      left: 2px;
      width: 5px;
      height: 10px;
    }

    + .#{$namespace}-label:after {
      top: 0;
      width: 16px;
      height: 16px;
    }
  }
}
