// metadata component
.#{$namespace}-metadata {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  font-size: $hx-font-size-base;
  font-weight: $hx-font-weight-bolder;
  position: relative;

  .#{$namespace}-label {
    margin: 0;
    font-weight: $hx-font-weight-bolder;
    font-size: $hx-font-size-xs;
    color: $hx-color-gray-lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
  }

  .#{$namespace}-value {
    padding: .2rem 0;
    line-height: 1.15;
  }
}
