// =========
// Modal
// =========

.#{$namespace}-modal-background {
  @include overlay;

  background-color: rgba($hx-color-black, 0.5);
}

.#{$namespace}-modal-content,
.#{$namespace}-modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;

  // Responsiveness
  @include tablet {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}

.#{$namespace}-modal-close {
  @include delete;

  background: none;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
}

.#{$namespace}-modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
}

.#{$namespace}-modal-card-head,
.#{$namespace}-modal-header,
.#{$namespace}-modal-card-foot,
.#{$namespace}-modal-footer{
  align-items: center;
  background-color: $hx-color-white;
  display: flex;
  flex-shrink: 0;
  padding: 1.25rem;
  position: relative;
}

.#{$namespace}-modal-card-foot,
.#{$namespace}-modal-footer{
  justify-content: flex-end;
 }

.#{$namespace}-modal-card-head,
.#{$namespace}-modal-header{
  justify-content: flex-start;
  border-top-left-radius: $hx-border-radius;
  border-top-right-radius: $hx-border-radius;
  padding: 1.25rem;
}

.#{$namespace}-modal-card-title,
.#{$namespace}-modal-title{
  color: $hx-headings-color;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: $hx-font-size-h3;
  line-height: 1;
  font-weight: 500;
  margin: 0;
}

.#{$namespace}-modal-card-foot,
.#{$namespace}-modal-footer{
  justify-content: flex-end;
  background-color: $hx-color-footer-bg;
  border-bottom-left-radius: $hx-border-radius;
  border-bottom-right-radius: $hx-border-radius;

  .#{$namespace}-button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.#{$namespace}-modal-content,
.#{$namespace}-modal-card-content
{
  -webkit-overflow-scrolling: touch;
  background-color: $hx-color-white;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 0 1.25rem 1.25rem;
}

.#{$namespace}-modal {
  @include overlay;
  @include transition(.2);

  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  opacity: 0;

  .delete {
    @include delete;
  }

  // Modifiers
  &.is-active {
    @include transition(.2s);
    display: flex;
    opacity: 1;
  }

  &.is-demo {
    position: static;

    .#{$namespace}-modal-close {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .is-content-overflowed {
    max-height: calc(100% - 1px);
    height: calc(100% - 120px);
    overflow-y: auto;
  }

}

.#{$namespace}-modal.is-small {
  .#{$namespace}-modal-card {
    max-width: 30rem;
  }
}

.#{$namespace}-modal.is-large {
  .#{$namespace}-modal-card {
    width: 57.81rem;
  }
}
