// =========
// Nav
// =========

.#{$namespace}-nav {
  @extend .hx-flex;
  @extend .hx-flex-align-center;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-shrink: 0;

  &.#{$namespace}-nav-vertical, &.is-vertical {
    @extend .hx-flex-column;
    @extend .hx-flex-start;
    max-width: 18em;

    .#{$namespace}-nav-item,
    .#{$namespace}-nav-heading,
    .#{$namespace}-nav-spacer {
      width:100%;
    }

    &.is-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-bottom: 1rem;
    }

  }

  &.is-left {
    justify-content: flex-start;
  }
  &.is-centered {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }

}


.#{$namespace}-nav-heading{
  text-transform: uppercase;

  h6{
    color:$hx-color-gray-lighter;
    font-weight: normal;
    margin: 1rem 1rem 1rem;
  }
}

.#{$namespace}-nav-item{
  @extend .hx-flex;
  margin-top: 0;
}

.#{$namespace}-nav-link {
  @extend .hx-flex;
  @extend .hx-flex-1;
  @extend .hx-flex-align-center;
  text-decoration: none;
  padding:($hx-spacer/2) $hx-spacer;
  transition: all .2s ease-in-out;
  color:$hx-nav-link-color;
  font-size: $hx-nav-link-font-size;
  font-weight: $hx-nav-link-font-weight;
  border-radius: 2rem;

  @include hover-focus {
    text-decoration: none;
    // background-color: $hx-nav-link-hover-color;
    color:$hx-nav-link-active-color;

    i.icon{
      color: $hx-nav-link-active-color;
    }
  }

  // span:first-of-type{
  //   padding-left:$hx-spacer/2;
  // }

  &.is-active{
    background-color: rgba(0,0,0,.04);
    color: $hx-nav-link-active-color;
    // border: 1px solid $hx-color-gray-lighter;

    i.icon{
      color: $hx-nav-link-active-color;
    }
  }

  // Disabled state lightens text and removes hover/tab effects
  &.is-disabled {
    opacity: .3;
    // color: $hx-nav-disabled-link-color;

    @include plain-hover-focus {
      // color: $hx-nav-disabled-link-hover-color;
      cursor: $hx-cursor-disabled;
      background-color: transparent;
    }
  }


  i.icon{
    font-size: 1.5rem;
    color:$hx-color-gray-light;
    margin:0 ($hx-spacer/2) 0 ($hx-spacer/2);
  }

}

.#{$namespace}-nav-brand {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0rem .75rem .25rem;
  margin-bottom: .5rem;
  > svg, img , a, .icon {
    max-width: 5rem;
    margin: 0 auto 1rem;
  }
}

// minified behaviour
.is-minified{
  .#{$namespace}-nav-item{
    @extend .hx-flex;
    @extend .hx-flex-justify-center;
    margin:$hx-spacer/3 0;
  }
  .#{$namespace}-nav-brand {
    margin-bottom: .5rem;
    > svg, img, a, .icon {
      max-width: 2rem;
      max-height: 2rem;
    }
  }
  .#{$namespace}-nav-link{
    @extend .hx-flex;
    @extend .hx-flex-justify-center;
    @include border-radius(50%);
    max-width:40px;
    span{
      display: none;
    }
    &.is-active{
      background-color:$hx-nav-link-active-color;
      color:#fff;

      i.icon{
        color: #fff;
      }
    }
  }
  .#{$namespace}-nav-heading{
    text-align: center;
  }
}


//themed
.has-blue-gradient,
.has-purple-gradient,
.has-orange-gradient{

  .#{$namespace}-nav-link{
    color:#fff;

    i.icon{
      color:#fff;
    }

    @include hover-focus {
      background-color: rgba(0,0,0,0.5);
      color:#fff;

      i.icon{
        color: #fff;
      }
    }

    &.is-active{
      background-color:rgba(0,0,0,0.5);
      color:#fff;

      i.icon{
        color: #fff;
      }
    }
  }
}

.#{$namespace}-nav-drawer {
  display: flex;
  z-index: 1;
  @media (max-width: 1264px) {
    position: fixed;
    z-index: 100;
  }
  > span {
    display: flex;
    height: 100vh;
    z-index: 1;
    > .hx-nav {
      height: 100vh;
    }
  }
}
.#{$namespace}-overlay {
  @media (max-width: 1264px) {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(black,.8);
    z-index: 0;
  }
}
.#{$namespace}-nav-navicon {
  position: fixed;
  left: 20.5rem;
  line-height: 3.3rem;
  top: 0;
  width: 3rem;
  height: 3rem;
  color: white;
  text-align: center;
  transition: .5s ease-in-out;
  z-index: 2;
  &.is-closed {
    left: 0;
    color: gray;
  }
  @media (max-width: 344px) {
    display: none;
  }
  @media (min-width: 1264px) {
    color: gray;
    background-color: rgba(#f6f6f9, .6);
  }
}
