$pagination-disabled-link-color: $hx-color-gray-lighter;
$pagination-disabled-link-hover-color:$hx-color-gray-lightest;
$pagination-hover-color: $hx-color-green-light;
$pagination-active-color: $hx-color-green-light;
$pagination-color: $hx-color-gray-dark;

.#{$namespace}-pagination{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-top:0;
    a {
      @extend .hx-flex;
      @extend .hx-flex-1;
      @extend .hx-flex-align-center;
      text-decoration: none;
      color:$pagination-color;
      padding: ($hx-spacer/4) ($hx-spacer/2);
      transition: all .2s ease-in-out;
      cursor: pointer;
      border-bottom: 1px solid transparent;

      @include hover-focus {
        text-decoration: none;
        border-bottom:1px solid $hx-color-gray-lighter;
        color:$pagination-hover-color;
      }

    }

    &.is-current a{
      border-bottom: 2px solid $pagination-active-color;
      color: $pagination-active-color;
    }

    &.is-disabled a{
      border-bottom:1px solid transparent;
      color: $pagination-disabled-link-color;
    }



    span{
      @extend .hx-flex;
      @extend .hx-flex-align-center;
      color:$pagination-disabled-link-color;
      padding: ($hx-spacer/4) ($hx-spacer/2);
    }
  }

  //sticky outside of card
  &.is-sticky{
    position:relative;
    &:after{
      content:'';
      position:absolute;
      bottom:1.7rem;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 249,0.85), #f6f6f9 100%);; /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 249,0.85), #f6f6f9 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 249,0.85), #f6f6f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height:4.5rem;
      z-index:5;
      pointer-events: none;
    }
  }
}

// sticky inside of card
.hx-card{
.#{$namespace}-pagination.is-sticky{
  &:after{
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.85) 38%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.85) 38%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.85) 38%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 100%;
    height:4.5rem;
    z-index:5;
    pointer-events: none;
  }
}
}

