.#{$namespace}-panel-header {
  padding: 1rem;
  background-color: $hx-color-white;
  border-bottom: 1px solid $hx-color-gray-lightest;
  @include hx-box-shadow(2);

  &.has-fixed-height {
    height: 110px;
  }

  .#{$namespace}-panel-header-row {
    display: flex;
    &:first-child {
      justify-content: space-between;
      align-items: center;
    }
    &:only-child {
      margin-top: 27px;
    }
  }

  .#{$namespace}-panel-header-row:first-child + .#{$namespace}-panel-header-row.has-search {
    margin-top: 10px;
  }


  .#{$namespace}-panel-header-heading {
    display: flex;
    align-items: center;
    .is-heading-icon {
      width: 25px;
      height: 25px;
      font-size: 25px;
      margin-right: 10px;
    }

    h2 {
      margin: 0;
    }
  }
  .#{$namespace}-panel-header-subheading {
    margin-left: 31px;
    font-size: 0.85rem;
  }

  .#{$namespace}-panel-header-row-actions {
    > * {
      margin-right: 0.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
    .hx-icon {
      max-width: 1.4rem;
      max-height: 1.4rem;
    }
    .icon-close-empty--larger {
      font-size: 32px;
    }
  }

  .#{$namespace}-panel-back {
    display: flex;
    align-items: center;
      .hx-icon {
        height: 14px;
        width: 14px;
      }
    .#{$namespace}-panel-back-text {
      margin-left: 7px;
    }
  }

}
