.#{$namespace}-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $hx-flex-accordion-bg-color;
  min-height:0;

  .#{$namespace}-panel-header {
    flex: 0 0 auto;
  }

  .#{$namespace}-panel-body {
    flex-grow:1;
    overflow-y: auto;
    padding: 1rem;

    .#{$namespace}-panel-section {
      &.is-fill-to-edges {
        margin-left: -1rem;
        margin-right: -1rem;
      }
    }
  }


  .#{$namespace}-panel-footer {
    flex: 0 0 50px;
    border-top: none;
    background-color: rgba(0, 0, 0, 0.02);
    padding: 1rem;

    .hx-button {
      &:not(:first-child) {
        margin-left: .5rem
      }
    }


  }

}
