.hx-snackbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transition: .3s;
  transform: translate3D(-50%, 100%, 0);

  opacity: 0;
  min-width: 288px;

  &.is-absolute {
    position: absolute;
  }

  &.is-top {
    top: 0;
    transform: translate3D(-50%, -100%, 0);
    bottom: auto;
  }

  &.is-right {
    padding: .5rem;
    right: 0;
    left: auto;
    transform: translate3D(0%, 100%, 0);

    &.is-top {
      transform: translate3D(0%, -100%, 0);
    }
  }

  &.is-left {
    padding: .5rem;
    left: 0;
    transform: translate3D(0%, 100%, 0);

    &.is-top {
      transform: translate3D(0%, -100%, 0);
    }
  }

  &.is-active {
    transform: translate3D(-50%, 0, 0);
    opacity: 1;

    &.is-right, &.is-left {
      transform: translate3D(0, 0, 0);
    }
  }

  &.is-success {
    .hx-snackbar-content {
      background-color: $hx-color-success;
      color: $hx-color-success-invert;
    }
  }

  &.is-info {
    .hx-snackbar-content {
      background-color: $hx-color-info;
      color: $hx-color-success-invert;
    }
  }

  &.is-warning {
    .hx-snackbar-content {
      background-color: $hx-color-warning;
      color: $hx-color-warning-invert;
    }
  }

  &.is-error {
    .hx-snackbar-content {
      background-color: $hx-color-danger;
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background: rgba(black, .8);
    box-shadow: 0 0 2rem .5rem rgba(black, .2);
    color: white;
    font-weight: 400;
    min-width: 18rem;
    max-width: 35.5rem;
    border-radius: $hx-border-radius-sm;

    .hx-button {
      margin: 0 0 0 3rem;
    }
  }

}
