// stepper-step
//
.#{$namespace}-stepper {

  &.is-vertical {

    .#{$namespace}-stepper {

      &-step {
        padding: 1.5rem 1.5rem 1rem;
      }

      &-content {

        &:not(:last-child) {
          border-left: 1px solid rgba(0,0,0,.1);
        }

        margin: -.5rem -2.25rem -1rem 2.25rem;
        padding: 1rem 3.75rem 1rem 1.43rem;
        width: auto;

      }

      &-wrapper {
        margin: 0;
        padding: 0;
      }

    }

  }

  &-header {
    border-bottom: none;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1), 0 4px 10px -5px rgba(0,0,0,.1);
    display: flex;
    align-items: center;

    &.is-multiline {
      align-items: start;

      .divider {
        margin: 2.25rem -4rem 0;
        align-self: flex-start;
      }

      .#{$namespace}-stepper-step {
        align-items: center;
        flex-direction: column;
        flex-basis: 190px;

        &-step {
          margin-bottom: .5rem;
          margin-right: 0;
        }

        &-label {
          text-align: center;
          line-height: 1.2;
        }

      }

    }

    .divider {
      flex: 1;

      &:last-child {
        display: none;
      }

    }

  }

  .#{$namespace}-stepper-step {
    padding: 1.5rem;
    display: flex;

    &.is-editable {
      cursor: pointer;

      &:hover {
        background-color: rgba(0,0,0,.05);
      }
    }

    &.has-error {

      .#{$namespace}-stepper-step {

        &-step {
          background-color: transparent;

          .hx-icon {
            color: $hx-color-danger;
          }

        }

        &-label {
          color: $hx-color-danger;
        }
      }

    }

    @media only screen and (max-width: 959px) {

      &-step {
        margin-right: 0;
      }

      &-label {
        display: none;
      }

    }

    &-step {
      height: 1.5rem;
      width: 1.5rem;
      line-height: 1.5rem;
      border-radius: 50%;
      text-align: center;
      background-color: rgba(0,0,0,.38);
      color: $hx-color-white;
      margin-right: .5rem;

      .hx-icon {
        font-size: 1.8rem;
        line-height: 1.8;
      }

    }

    &-label {
      color: rgba(0,0,0,.38);
    }

    &.is-active, &.is-complete {

      .#{$namespace}-stepper-step {

        &-step {
          background-color: $hx-color-primary;
        }

        &-label {
          color: $hx-color-black;
        }

      }

    }

  }

  .#{$namespace}-stepper {

    &-content {

    }

    &-wrapper {
      padding: 1.5rem;

      > *:first-of-type {
        margin-top: 0;
      }

    }

  }

}
