//
// Tabbable tabs
//
.#{$namespace}-nav-tabs {
  border-bottom: 1px solid rgba(0,0,0,.1);

  .#{$namespace}-nav-link{
    border-bottom: 1px solid transparent;
    border-radius: 0;
    transition: .3s;

    &:hover {
      box-shadow: 0 1px 0 0 $hx-color-gray-lighter;
    }

    &.is-active {
      background-color: transparent;
      box-shadow: 0 1px 0 0 $hx-color-green-light;
      border-bottom: 1px solid $hx-color-green-light;
    }
  }

  &.is-justified {
    .hx-nav-item, .hx-nav-link {
      display: block;
      flex-grow: 1;
    }
  }

  &.has-info {
    .hx-nav-link {
      .hx-columns {
        border-top: 1px solid rgba(0,0,0,.1);
        color: #555;
        transition: .3s ease-in-out;
        > * {
          padding-top: .5rem;
          justify-content: center;
          opacity: .75;
        }
      }

      &:hover {
        .hx-columns {
          border-top: 1px solid rgba(0,0,0,.3);
        }
      }
    }
  }
}
// Hide tabbable panes to start, show them when `.is-active`
.#{$namespace}-tab-content {
  padding:$hx-spacer;

  > .hx-tab-pane {
    display: none;
  }
  > .is-active {
    display: block;
  }
}
