// =========
// Tooltips
// =========

.#{$namespace}-tooltip {
  @include transition(.15s);
  z-index: $hx-zindex-tooltip;
  display: block;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: .875rem;
  word-wrap: break-word;
  opacity: 0;
  position:relative;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  &-content {
    position: relative;
    max-width: 200px;
    padding: 3px 8px;
    color: $hx-color-white;
    text-align: center;
    background-color: $hx-color-info;
    border-radius: .25rem;
  }

  &.is-top {
    &::before {
      bottom: -5px;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0;
      border-top-color: $hx-color-info;
    }
  }

  &.is-right {
    &::before {
      top: 50%;
      left: -5px;
      margin-top: -5px;
      border-width: 5px 5px 5px 0;
      border-right-color: $hx-color-info;
      border-top-color: transparent;
    }
  }

  &.is-bottom {
    &::before {
      top: -5px;
      left: 50%;
      margin-left: -5px;
      border-width: 0 5px 5px;
      border-bottom-color: $hx-color-info;
    }
  }

  &.is-left {
    &::before {
      top: 50%;
      right: -5px;
      margin-top: -5px;
      border-width: 5px 0 5px 5px;
      border-left-color: $hx-color-info;
    }
  }

  &.is-white {

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }

    .#{$namespace}-tooltip-content {
      color: $hx-text;
      background-color: $hx-color-white;
      border: 1px solid $hx-color-gray-lightest;
      box-shadow: 2px 2px 4px -2px rgba(200,200,200,1);;
    }

    &.is-top {
      &::before {
        bottom: -6px;
        top: 100%;
        margin-left: -6px;
        border-top: 6px solid $hx-color-gray-lightest;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }

      &::after {
        margin-top: -1px;
        left: 50%;
        margin-left: -6px;
        border-top: 6px solid white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }

    &.is-right {
      &::before {
        left: -6px;
        margin-top: -6px;
        border-top: 6px solid transparent;
        border-right: 6px solid $hx-color-gray-lightest;
        border-bottom: 6px solid transparent;
      }

      &::after {
        top: 50%;
        margin-top: -6px;
        margin-left: -6px;
        border-top: 6px solid transparent;
        border-right: 6px solid $hx-color-white;
        border-bottom: 6px solid transparent;
      }
    }

    &.is-left {
      &::before {
        right: -6px;
        margin-top: -6px;
        border-top: 6px solid transparent;
        border-left: 6px solid $hx-color-gray-lightest;
        border-bottom: 6px solid transparent;
      }

      &::after {
        top: 50%;
        right: 0;
        margin-top: -6px;
        margin-right: -6px;
        border-top: 6px solid transparent;
        border-left: 6px solid $hx-color-white;
        border-bottom: 6px solid transparent;
      }
    }

    &.is-bottom {
      &::before {
        bottom: 0;
        top: -6px;
        margin-left: -6px;
        border-bottom: 6px solid $hx-color-gray-lightest;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }

      &::after {
        top: -6px;
        left: 50%;
        margin-left: -6px;
        border-bottom: 6px solid white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }


  }

  &.is-success {

    .#{$namespace}-tooltip-content {
      background-color: $hx-color-success;
    }

    &.is-top {
        &::before {
          border-top-color: $hx-color-success;
        }
    }

    &.is-bottom {
        &::before {
          border-bottom-color: $hx-color-success;
        }
    }

    &.is-left {
        &::before {
          border-left-color: $hx-color-success;
        }
    }

    &.is-right {
        &::before {
          border-right-color: $hx-color-success;
        }
    }
  }

  &.is-warning {

    .#{$namespace}-tooltip-content {
      background-color: $hx-color-warning;
    }

    &.is-top {
        &::before {
          border-top-color: $hx-color-warning;
        }
    }

    &.is-bottom {
        &::before {
          border-bottom-color: $hx-color-warning;
        }
    }

    &.is-left {
        &::before {
          border-left-color: $hx-color-warning;
        }
    }

    &.is-right {
        &::before {
          border-right-color: $hx-color-warning;
        }
    }
  }

  &.is-danger {

    .#{$namespace}-tooltip-content {
      background-color: $hx-color-danger;
    }

    &.is-top {
        &::before {
          border-top-color: $hx-color-danger;
        }
    }

    &.is-bottom {
        &::before {
          border-bottom-color: $hx-color-danger;
        }
    }

    &.is-left {
        &::before {
          border-left-color: $hx-color-danger;
        }
    }

    &.is-right {
        &::before {
          border-right-color: $hx-color-danger;
        }
    }

  }

  &.is-active {
    opacity:1;
  }

}

