// =========
// Navbar
// =========

.#{$namespace}-toolbar {

    display: flex;
    align-items: center;
    padding:$hx-spacer;
    background-color:transparent;

  > span{
      color: $hx-color-gray-lighter;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 0.85rem;
    }

    // Contextual themes
    &.is-primary{
      background-color:$hx-color-primary;
      > span{
        color:rgba(255,255,255,0.8);
      }
      button,a{
        color:#fff;
      }

      &.is-inverted{
        background-color:transparent;
        > span{
          color:rgba($hx-color-primary,0.8);
        }
        button,a{
          color:$hx-color-primary;
        }
      }
    }

    &.is-warning{
      background-color:$hx-color-warning;
      > span{
        color:rgba(255,255,255,0.8);
      }
      button,a{
        color:#fff;
      }

      &.is-inverted{
        background-color:transparent;
        > span{
          color:rgba($hx-color-warning,0.8);
        }
        button,a{
          color:$hx-color-warning;
        }
      }
    }

    &.is-danger{
      background-color:$hx-color-danger;
      > span{
        color:rgba(255,255,255,0.8);
      }
      button,a{
        color:#fff;
      }
      &.is-inverted{
        background-color:transparent;
        > span{
          color:rgba($hx-color-danger,0.8);
        }
        button,a{
          color:$hx-color-danger;
        }
      }
    }

    &.is-info{
      background-color:$hx-color-info;
      > span{
        color:rgba(255,255,255,0.8);
      }
      button,a{
        color:#fff;
      }
      &.is-inverted{
        background-color:transparent;
        > span{
          color:rgba($hx-color-info,0.8);
        }
        button,a{
          color:$hx-color-info;
        }
      }
    }

  // size
  &.is-small{
    padding:.5rem;
  }

  &.is-xsmall{
    padding:0;
    & > span{
      padding-left:.5rem;
    }
  }
}
