<template>
  <div id="downloads">
    <h1 class="hx-title">Download</h1>
    <h2 class="hx-subtitle">Please find below some of the design resources and tools about HxUI that we consider valuable. More of this is still being collected.</h2>
    <hr>

    <div class="hx-columns">
      <div class="hx-column is-4">

        <div class="doc-resources">
          <a href="/static/resources/HxUI-Stencils-v1.0.sketch" class="doc-resources-download hx-link">
            <div class="hx-card">
              <div class="hx-card-content">
                <div class="hx-flex">
                  <img src="/static/assets/images/sketch-logo.png" class="doc-resources-image mr-5" />
                  <div>
                    <h5 class="doc-resources-heading mb-0">HxUI Stencil</h5>
                    <p class="doc-resources-body">A Sketch template to turn ideas into products faster.</p>
                  </div>

                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.doc-resources-image {
  width: 3.4rem;
  height: 3.4rem;
}
</style>
