// =========
// Code
// =========

/*
code,
kbd,
pre,
samp {
  font-family: $hx-font-family-monospace;
}

code {
  @include border-radius($hx-border-radius);
  padding: $hx-code-padding-y $hx-code-padding-x;
  font-size: $hx-code-font-size;
  color: $hx-code-color;
  background-color: $hx-code-bg;

  a > & {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}

kbd {
  @include border-radius($hx-border-radius-sm);
  @include box-shadow($hx-kbd-box-shadow);
  padding: $hx-code-padding-y $hx-code-padding-x;
  font-size: $hx-code-font-size;
  color: $hx-kbd-color;
  background-color: $hx-kbd-bg;

  kbd {
    @include box-shadow(none);
    padding: 0;
    font-size: 100%;
    font-weight: $hx-kbd-nested-font-weight;
  }
}

pre {
  display: block;
  margin: $hx-pre-margin;
  font-size: $hx-code-font-size;
  // color: $hx-pre-color;
  max-height: 38rem;
  border-radius: 0 !important;
  overflow: scroll;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

.#{$namespace}-pre-is-scrollable {
  max-height: $hx-pre-scrollable-max-height;
  overflow-y: scroll;
}
*/

code {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0;
  padding-bottom: 0;
  &:not(.hljs) {
    background-color: rgba(0,0,0,.05);
    border-radius: 3px;
    padding: .1rem .5rem;
    color: $hx-color-danger;
  }
}

.#{$namespace}-code {
  max-height: 38rem;
  transition: .5s ease-in-out;
  overflow: auto;
}
// slideToggle
.slide-enter-active, .slide-leave-active {
  max-height: 38rem;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  max-height: 0
}
