// =========
// Content
// =========

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $hx-headings-font-family;
  font-weight: $hx-headings-font-weight;
  line-height: $hx-headings-line-height;
  letter-spacing: $hx-headings-letter-spacing;
}

h1, .h1 {
  font-size: $hx-font-size-h1;
  font-weight: $hx-font-weight-bold;
  color: $hx-color-info;
}
h2, .h2 {
  font-size: $hx-font-size-h2;
}
h3, .h3 {
  font-size: $hx-font-size-h3;
  font-weight: $hx-font-weight-bolder;
  color: $hx-color-info;
}
h4, .h4 {
  font-size: $hx-font-size-h4;
  font-weight: $hx-font-weight-bold;
}
h5, .h5 {
  font-size: $hx-font-size-h5;
  font-weight: $hx-font-weight-bolder;
}
h6, .h6 {
  font-size: $hx-font-size-h6;
  font-weight: $hx-font-weight-boldest;
  color: $hx-color-gray-lighter;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}

// Margins apply to the heading elements eg h1, h2, h3
// Other styles apply to the class .h1, .h2, .h3

h1 {
  margin-bottom: 1rem * 1; // no top as h1 should only be used once
}
h2 {
  margin-top: 1rem * 1.35;
  margin-bottom: 1rem * .75;
}
h3 {
  margin-top: 1rem * 1.25;
  margin-bottom: 1rem * .5;
}
h4 {
  margin-top: 1rem * 1.1;
  margin-bottom: 1rem * .35;
}
h5 {
  margin-top: 1rem * 1.1;
  margin-bottom: 1rem * .25;
}
h6 {
  margin-top: 1rem * .5;
  margin-bottom: 1rem  * .5;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.#{$namespace}-title {
  font-size: $hx-font-size-h1;
  font-weight: $hx-title-font-weight;
  margin: 0;

  & + .#{$namespace}-subtitle {
    margin-top: .5rem;
    color: $hx-color-gray-light;
  }
}

.#{$namespace}-subtitle {
  font-size: $hx-font-size-base;
  font-weight: $hx-subtitle-font-weight;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
}

small,
.small {
  font-size: $hx-small-font-size;
  font-weight: $hx-font-weight-normal;
}

mark,
.mark {
  padding: $hx-mark-padding;
  background-color: $hx-mark-bg;
}

hr {
  margin-top: $hx-spacer;
  margin-bottom: $hx-spacer;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

// Inline
li + li {
  margin-top: 0.25em;
}

// Block
p,
ol,
ul,
blockquote,
table {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}


blockquote {
  // background-color: $background;
  border-left: 5px solid $hx-border-color;
  padding: 1.25em 1.5em;
}

ol {
  list-style: decimal outside;
  margin-top: 1em;
}

ul {
  list-style: disc outside;
  margin-top: 1em;
  padding: 0 1rem;

  ul {
    list-style-type: circle;
    margin-top: 0.5em;

    ul {
      list-style-type: square;
    }
  }
}

dt {
  font-weight: $hx-font-weight-bold;
  margin-bottom: 0.3rem;
}

dd {
  margin: 0;
  margin-bottom: 0.3rem;
}

b,
strong {
  font-weight: 500;
}

.#{$namespace}-header {
	padding: .75rem .8rem;
	font-size: 0.675rem;
	color: #aeadad;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(0,0,0,.05);
  .hx-icon {
    font-size: 12px;
    width: 1rem;
    height: 1rem;
    top: 1px;
    position: relative;
  }
}

.content {
  @include block;

  color: $hx-text;

  // Inline
  li + li {
    margin-top: 0.25em;
  }

  // Block
  p,
  ol,
  ul,
  blockquote,
  table {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  blockquote {
    // background-color: $background;
    border-left: 5px solid $hx-border-color;
    padding: 1.25em 1.5em;
  }

  ol {
    list-style: decimal outside;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
  }

  ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;

    ul {
      list-style-type: circle;
      margin-top: 0.5em;

      ul {
        list-style-type: square;
      }
    }
  }

  dt {
    font-weight: $hx-font-weight-bold;
  }

  dd {
    margin: 0;
  }
}
